:root {
    --titleFontColor: black;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(29, 29, 29);
    color: white;
}

header {
    display: flex;
    justify-content: center;
}

.border {
    background-color: var(--titleFontColor);
    width: 30rem;
    height: 15rem;
    margin-top: 19%;
}

.border2 {
    background-color: rgb(29, 29, 29);
    margin-left: 1rem;
    margin-top: 1rem;
    width: 28rem;
    height: 13rem; 
    text-align: center;
}

#Name {
    font-size: 72px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#Apellido {
    width: 100%;
    background-color: black;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 45px;
}