:root {
    --logotipo: rgb(228, 228, 228);
}

.header__navBar ul li {
    float: right;
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    color: rgb(231, 231, 231);
}

body {
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
}

.header__navBar a {
    text-decoration: none;
    text-align: center;
    transition: .3s ease-out all;
    border: none;
}

a {
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

.header__navBar {
    display: sticky;
    top: 0;
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 3rem;
}

.name_title {
    margin-top: 20px;
    text-align: center;
}

.header__navBar button {
    background-color: rgb(41, 41, 41);
    border: none;
    width: 10rem;
    height: 3rem;
    font-size: 15px;
	cursor: pointer;
	outline: inherit;
}

.header__navBar button:hover {
    background-color: rgb(51, 51, 51);
}


.logotipo {
    padding: 10px;
    border: 5px solid var(--logotipo);
}